.card.horizontal{
  height: 171px !important;
}

.card.horizontal .card-image{
  width: 50% !important;
}
.card .card-image img{
  width: 100% !important;
}

.card-image .img-monitor  {
  height: 100%!important;
  object-fit: cover!important;
  object-position: 50% 50%!important;
}

.card .card-content {
  height: 64% !important;
}