
1_programacion_basica/final_tp/sesion.txt

node_modules/

3_cuatrimeste/6_NEJT/30_TP/tracks/

3_cuatrimeste/6_NEJT/31_TP/nest-urls/

3_cuatrimeste/6_NEJT/32_TP/nest-urls

3_cuatrimeste/6_NEJT/33_TP/tracks

3_cuatrimeste/6_NEJT/34_TP/project/
