body{
  background-color: white;
  font-family: Arial, sans-serif; 
  color: #333;
}
footer{
  width: auto;
  padding: 0% 10%;
  color: blanchedalmond;
  background-color: black;
}

div{
  
  text-align: left ;
  padding-left: 5%;
}

.conteiner{
  display: flex;
}
.header{
  height: auto;
  width: auto;
  padding: 0% 10%;
  flex-flow: row wrap;
  justify-content: space-between ;
  background-color: #eba04b;
  background: img/base.jpeg;
  background-image: img/base.jpeg;
}

.header div{
  margin-bottom: 5px;
}

img#profile{
  width: 50%;
}

#title{
 width: 30%;
 margin-right: auto;
}

.main{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center ;
  align-content:center;

  min-height: 600px;
  width: 800px;
  border: 1px solid black;
  margin: auto;
}

.nota > p {
  text-indent: 1em;
}

.body_{
  height: 500px;
  flex-flow: row wrap;
  justify-content: space-between ;
  border: 0;

}
.nota{
  min-height: 100px ;
  
  padding: 20px;
}

h1{
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: xxx-lare;
  ;
}
h2{
  padding-left: 20px;
}
p {
  font-weight: bolder;
}
.image{
  text-align: center;
  width: 50%;
  height: 50%;
}
.foot{
  height: auto;
  padding: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items:normal ;
}
a{
  text-decoration: none;
  color: blanchedalmond;
}
dd{
  margin-left: 0;
}
