.card-stacked-size{
 max-width:25% !important;
}

.card.horizontal .card-content-size{
 height:100% !important;
 margin-left: auto;
}

.chartjs-size-monitor{
 position: absolute;

 inset: 0px;
 overflow: hidden;
 pointer-events: none;
 visibility: hidden; z-index: -1;
}

.chartjs-size-monitor-expand{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden;
  pointer-events:none;
  visibility:hidden;
  z-index:-1;
 }

 .chartjs-size-monitor-shrink{ 
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden;
  pointer-events:none;
  visibility:hidden;
  z-index:-1;
 }

 .chartjs-size-monitor-shrink-layer{
  position:absolute;
  width:200%;
  height:200%;
  left:0;
  top:0
 }
 .chartjs-size-monitor-expand-layer{
  position:absolute;
  width:1000000px;
  height:1000000px;
  left:0;
  top:0;
 }

 .chartjs-render-monitor{
  display: block;
  height: 100px;
  width: 100px;
 }

 a.serie:hover, a.active.serie{
	background-color: #0566fd1f !important;
	color: #6ea8ee !important;
 }

 .tabs .tab a.serie {
	color: rgba(8, 65, 252, 0.371);
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transition: color .28s ease, background-color .28s ease;
	transition: color .28s ease, background-color .28s ease;
}