/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: black;

}

/* Style tab links */

.tabLink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  color: white;  
  background-color: #555;
}

.tabLink:hover {
  background-color: #777;
}

.closeTab:hover {
  color: yellowgreen;
}
/* Style the tab content (and add height:100% for full page content) */
.tabContent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}